{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container card card-margin">
  <div class="row card-header no-border">
    <div class="col-md-8 mt-3 offset-md-2">
       <h3>{% trans "Log In" %}</h3>

<p>{% blocktrans %}If you have not created an account
      yet, then please
      <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
  
     <form class="login px-4 py-3" method="POST" action="{% url 'account_login' %}">    
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="row justify-content-end">
          <div class="form-group col-sm-6"><button class="btn-primary btn-block" type="submit">{% trans "Sign In" %}</button></div>
      </div>
      </form> 
    </div>
</div>

{% endblock %}
