{% extends "base.html" %}

{% block content %}
<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
                <h2 class="mb-4">Cancel Appointment</h2>


                <div class="card mb-4">
                    <div class="card-header">
                        <h5>Appointment Details:</h5>
                    </div>
                    <div class="card-body">
                        <p><strong>Name:</strong> {{ appointment.first_name }} {{ appointment.last_name }}</p>
                        <p><strong>Email:</strong> {{ appointment.email }}</p>
                        <p><strong>Phone:</strong> {{ appointment.phone }}</p>
                        <p><strong>Subject:</strong> {{ appointment.subject }}</p>
                        <p><strong>Request:</strong> {{ appointment.request }}</p>
                        <p><strong>Sent Date:</strong> {{ appointment.sent_date }}</p>
                    </div>
                </div>

                <div class="alert alert-warning" role="alert">
                    <p>Are you sure you want to cancel this appointment? This action cannot be undone.</p>
                </div>

                <form method="post" action="">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Confirm Cancellation</button>
                    <a href="{% url 'manage' %}" class="btn btn-light border">Go Back</a>
                </form>
            </div>

    </div>
</div>

{% endblock %}