{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="container mt-5">
        <div class="col-11 text-center mt-4 mb-4">
            <h3>
                Reschedule Appointment
            </h3>
            <h4 class="lead">Choose another Date</h4>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card card-margin">
                    <div class="card-header no-border">
                        <h5 class="card-title">{{ app.first_name }} {{ app.last_name }}</h5>
                    </div>
                    <div class="card-body pt-0">
                        <div class="widget-49">
                            <div class="widget-49-title-wrapper">
                                <div class="widget-49-date-primary">
                                    <span class="widget-49-date-day">{{ app.accepted_date|date:"d" }}</span>
                                    <span class="widget-49-date-month">{{ app.accepted_date|date:"M" }}</span>
                                </div>
                                <div class="widget-49-meeting-info">
                                    <span class="widget-49-pro-title">{{ app.email }}</span>
                                    <span class="widget-49-meeting-time">{{ app.phone }}</span>
                                </div>
                            </div>
                            <div class="widget-49-meeting-points">
                                <span>{{ app.request }}</span>
                            </div>

                            {% if not app.reschedule_date %}
                            <hr>
                            <p> Appointment Date: {{ app.accepted_date|date:"d-m-Y" }} Confirmed.</p>
                            <form method="POST" action="{% url 'appointment_reschedule' app.id %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <p>Choose a New Date:</p>
                                    <input type="hidden" name="appointment-id" value="{{ app.id }}" />
                                    <input type="date" id="reschedule_date" name="date" class="form-control mb-2" placeholder="New date"
                                        value="{{ app.accepted_date }}" min="{{ app.accepted_date }}" max="2025-12-31">
                                    <input class="btn-block btn-primary form-control" type="submit" value="Reschedule">
                                </div>
                            </form>
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script>
    document.getElementById('reschedule_date').min = new Date().toISOString().split("T")[0];
</script>
{% endblock %}
