{% extends 'base.html' %}
{% block content %}



<div class="container mt-5">
    <div class="col-11 text-center mt-4 mb-4">
        <h3>
            Manage appointments
        </h3>
    </div>
    <div class="row">
        {% for app in appointments %}
        <div class="col-lg-4">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title">{{ app.first_name }} {{ app.last_name }}</h5>
                </div>
                <div class="card-body pt-0">
                    {% if app.is_accepted %}
                    <div class="alert alert-success">
                        Your appointment has been accepted on {{ app.accepted_date|date:"F d, Y" }}.
                    </div>
                    {% endif %}
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-primary">
                                <!------- Here is to keep track of the date since the booking request until the last confirmation of the admin ------->
                                {% if app.accepted_date %}
                                <span class="widget-49-date-day">{{ app.accepted_date|date:"d" }}</span>
                                <span class="widget-49-date-month">{{ app.accepted_date|date:"M" }}</span>
                                {% elif app.reschedule_date %}
                                <span class="widget-49-date-day">{{ app.reschedule_date|date:"d" }}</span>
                                <span class="widget-49-date-month">{{ app.reschedule_date|date:"M" }}</span>
                                {% else %}
                                <span class="widget-49-date-day">{{ app.sent_date|date:"d" }}</span>
                                <span class="widget-49-date-month">{{ app.sent_date|date:"M" }}</span>
                                {% endif %}
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">{{ app.email }}</span>
                                <span class="widget-49-meeting-time">{{ app.phone }}</span>
                            </div>
                        </div>
                        <div class="widget-49-meeting-points card-header">
                            <h6 class="card-title">Subject: {{ app.subject }}</h6>
                        </div>
                        <div class="widget-49-meeting-points">
                            <span> Request: {{ app.request }}</span>
                        </div>

                        <hr class="w-100">
                        <form method="POST" action="{% url 'manage' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="hidden" name="appointment-id" value="{{ app.id }}" />
                                
                                {% if request.user.is_superuser %}
                                    {% if not app.accepted and not app.reschedule_date %}
                                        <input type="date" name="date" class="form-control mb-2"
                                            placeholder='{{ app.accepted_date }}' value="{{ app.sent_date }}"
                                            min="{{ app.sent_date }}" max="2025-12-31" required>
                                        <input class="btn-block btn-primary form-control" type="submit" value="Accept">
                                    {% elif not app.accepted and app.reschedule_date %}
                                        <p>Patient requested for: {{ app.reschedule_date }}</p>
                                        <input type="date" name="date" class="form-control mb-2"
                                            placeholder="{{ app.accepted_date }}" value="{{ app.reschedule_date }}"
                                            min="{{ app.sent_date }}" max="2025-12-31" required>
                                        <input class="btn-block btn-primary form-control" type="submit" value="Accept">
                                    {% endif %}
                                {% else %}
                                    {% if not app.accepted %}
                                        {# Display nothing #}
                                    {% elif app.accepted and not app.reschedule_date %}
                                        <p> Appointment Date: {{ app.accepted_date|date:"d-m-Y" }} Confirmed.</p>
                                        <a class="btn-block btn-primary form-control"
                                            href="{% url 'appointment_reschedule' app.id %}">Reschedule</a> 
                                    {% elif app.reschedule_date %}
                                        <p> Reschedule date for: {{ app.reschedule_date|date:"d-m-Y" }}</p>
                                    {% endif %}
                                    <a class="btn-block btn-primary form-control"
                                        href="{% url 'appointment_delete' app.id %}">Delete</a>
                                {% endif %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


    {% if is_paginated %}
    <div class="wrapper">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{page_obj.prebious_page_number}}">Previous</a>
                </li>
                {% endif %}
                {% for number in page_obj.paginator.page_range %}
                <li class="page-item"><a class="page-link" href="?page={{number}}">{{number}}</a></li>
                {% endfor %}
                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{page_obj.prebious_page_number}}">Next</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    {% endif %}

    {% endblock content %}