{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Your Notifications</h2>
    
    {% if user_notifications %}
        <h3>Notifications:</h3>
        <ul>
            {% for notification in user_notifications %}
                <li>
                    <strong>Ciao</strong> {{ user }} 😄<br>
                    <strong>Message:</strong> You have one notification go to your Manage appointment<br>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="text-center">You have no notifications.</p>
    {% endif %}
</div>
{% endblock %}


